<!DOCTYPE html><html lang="en"><head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/gif" sizes="96x96" href="https://www.generalpico.gov.ar/Arbol-favico.gif">
    <title>Municipalidad de General Pico - Empresas Verdes</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.3.0/dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="frontend/preguntas/css/estilo.css">
    
  </head>
  
  <body>
    
  <a href="/home" class="boton">Inicio</a>
  
    <div class="contenedor">
      <div class="puntaje" id="puntaje"></div>
      <div class="encabezado">
        <div class="categoria" id="categoria">
        </div>
        <div class="numero" id="numero"></div>
        <div class="pregunta" id="pregunta">
        </div>
        <img src="#" class="imagen" id="imagen">
      </div>
      <div class="btn" id="btn1" onclick="oprimir_btn(0)"></div>
      <div class="btn" id="btn2" onclick="oprimir_btn(1)"></div>
      <div class="btn" id="btn3" onclick="oprimir_btn(2)"></div>
      <div class="btn" id="btn4" onclick="oprimir_btn(3)"></div>
      
      <script src="frontend/preguntas/js/index.js"></script>
    </div>
  
  </body>
  </html>